.songTop {
  height: 3.6rem;
  background-color: aqua;
  position: relative;
  padding: 30px 10px 30px 15px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #463c31;
}
.songTop .songTop_in {
  width: 100%;
  height: 100%;
}
.songTop .songTop_in .left {
  width: 2.43rem;
  height: 100%;
  display: inline-block;
}
.songTop .songTop_in .left .img_song {
  position: relative;
}
.songTop .songTop_in .left .img_song img {
  width: 100%;
  height: 100%;
}
.songTop .songTop_in .left .img_song .icon-erji1 {
  position: absolute;
  right: 5px;
  top: 2px;
  z-index: 3;
  padding-left: 13px;
  color: #fff;
  font-size: 12px;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 11px 10px;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.15);
}
.songTop .songTop_in .right {
  float: right;
  margin-left: 15px;
  width: 4rem;
}
.songTop .songTop_in .right .right_in .right_in_text {
  font-size: 17px;
  color: #fff;
  line-height: 0.45rem;
}
.songTop .songTop_in .right .songImg {
  display: block;
  position: relative;
  margin-top: 20px;
}
.songTop .songTop_in .right .songImg .songImg_in {
  height: 0.6rem;
}
.songTop .songTop_in .right .songImg .songImg_in .songImg_img {
  width: 0.6rem;
  border-radius: 50%;
}
.songTop .songTop_in .right .songImg .songImg_in .songImg_Text {
  line-height: 0.6rem;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding-left: 10px;
}
.songTop .songTop_in .right .songPic {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}
.pylst_list {
  height: 0.45rem;
  background-color: #ccc;
  line-height: 0.45rem;
  padding: 0 10px;
  font-size: 12px;
  color: #666;
  background-color: #eeeff0;
}
.pylst_list h3 {
  font-size: 12px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
li {
  display: flex;
  height: 1.2rem;
  flex-direction: column;
  position: relative;
  font-size: 18px; 
  padding: 5px 15px 0 5px;
}
li .song_name {
  height: 58%;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipise;
  white-space: nowrap;
}
li .song_name .name {
  font-size: 17px;
  font-weight: normal;
  line-height: 0.51rem;
}
 li .song_name .name span {
  color: #888;
  margin-left: 4px;
  font-size: 17px;
}
li .song_author {
  height: 42%;
  font-size: 12px;
}
li .song_author .author{
  font-size: 14px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipise;
  white-space: nowrap;
}
li .song_author .sq_icon {
  width: 18px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  color: red;
  font-size: 12px;
  border: 0.01rem solid red;
  transform: scale(0.6);
}
li .song_author .sq_icon .icon {
  font-size: 12px;
}
 li .song_icon {
  width: 12%;
  text-align: center;
  line-height: 1.1rem;
}
 li .song_icon .icon-bofang {
  font-size: 22px;
  color: #666;
  position: absolute;
  right: 0.2rem;
  top: 0;
}
